<!-- Page Header -->
    <!-- Set your background image for this header on the line below. -->
    <header class="intro-header" style="background-image: url('/content/blog/home-bg.jpg')">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="site-heading">
                        <h1>Hello</h1>
                        <hr class="small">
                        <span class="subheading">My name is Bartosz Borowiecki and I'm a game and .NET developer. 
                            I created this blog to write about the things I'm creating and the things I learned, so others can benefit from it.</span>
                    </div>
                </div>
            </div>
        </div>
    </header>

<div class="container">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
            @foreach (var doc in Documents["Posts"]
            .Where(x => x.ContainsKey("Published"))
            .OrderByDescending(x => x.Get<DateTime>("Published"))
            .Take(5))
            {

                <div class="post-preview">
                    <a href="@doc["RelativeFilePath"]">
                    <h2 class="post-title">
                        @doc["Title"]
                    </h2>
                    <h3 class="post-subtitle">
                        @doc["Lead"]
                    </h3>
                    </a>
                    <p>
                         @Html.Raw(doc.String("Excerpt"))
                    </p>
                    <p class="post-meta">Posted on @doc["Published"]</p>
                </div>
            }
            @if(Documents["Posts"].Count() > 5)
            {
            <hr>
            <!-- Pager -->
            <ul class="pager">
                <li class="next">
                    <a href="archive">Older Posts &rarr;</a>
                </li>
            </ul>
            }
            
        </div>
    </div>
</div>